<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @author.birthday %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
